body
{
	font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	font-size: 13 point;
	
	background-color: #fff;
	padding: 0;
	margin: 0;
}

div
{
	display: block;
	padding-bottom: 0em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

div.book-definition {
	padding: 0;
	margin: 0;
}

div.empty
{
	margin: 0;
	padding: 0;
}

div.multiple-message
{
	padding: 0;
	margin: 0;
}

p.booklist-item
{
	padding-left: 20px;
}

div.booklist-title
{
	font-style: italic;
	font-weight: bold;
	margin: 0;
	background: #;
	border-bottom: #ffffff;
	font-family: "Helvetica Neue";
}

div.booklist-authors
{
	padding-left: 30px;
}

/* @group Empty */

div.empty-message
{
	margin: 3em;
	padding: 0;
	text-align: center;
	font-size: x-large;
	color: #7f7f7f;
	font-weight: bold;
}

/* @end */

/* @group Book */

div.book-title
{
	background: #005FD7 url(tiger.png) repeat-x;
	padding: 0.5em;
	margin: 0 0 1em;
	border-bottom: 1px solid #000080;
	color: #ffffff;
	text-shadow: 0 1px 2px black;
	font: bold larger "Helvetica Neue";
}

div.book-summary
{
	margin-top: 1em;
#	border-top: thin solid gray;
	text-align: justify;
}

/* @end */

/* @group Multiple */

div.multiple-title
{
	background: #005FD7 url(tiger.png) repeat-x;
	padding: 0.5em;
	margin: 0;
	border-bottom: 1px solid #000080;
	color: #ffffff;
	text-shadow: 0 1px 2px black;
	font: bold larger "Helvetica Neue";
}

/* @end */
