<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BooksPluginName</key>
	<string>Amazon (US)</string>
	<key>BooksPluginType</key>
	<string>Quickfill</string>
	<key>BooksScriptName</key>
	<string>amazonScript.py</string>
	<key>CFBundleIdentifier</key>
	<string>net.aetherial.books.importer.amazonquickfill</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Amazon Quickfill (US)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
</dict>
</plist>
