# Visible from com.sun.midp.Configuration.getProperty(key)
#
# System tunable parameters  (system prefix indicates native only access)
#
system.jam_space:	1000000
system.display.double_buffered:true
system.display.screen_depth: 8
system.i18n.lang: en
system.i18n.encoding: ISO8859_1
#
# system.display.slow_time_interval:
# system.display.debug_screen: 
# system.display.visual_type: TrueColor
# system.display.kh_skins: TrueColor
# system.throttle_per_milli: 
#
#com.sun.midp.io.enable_extra_protocols: true
#
com.sun.midp.midlet.scheduler: com.sun.midp.midlet.Scheduler
com.sun.midp.lcdui.eventHandler: com.sun.midp.lcdui.DefaultEventHandler
#                    J2SE = com.sun.midp.lcdui.AWTEventHandler					
com.sun.midp.lcdui.inputHandler: com.sun.midp.lcdui.DefaultInputMethodHandler
#
#com.sun.midp.io.http.proxy: webcache:8080
#
# com.sun.midp.midletsuite.installer: com.sun.midp.midletsuite.Installer
# com.sun.midp.lcdui.skin: classes/icons/skin.gif
com.sun.midp.io.http.max_persistent_connections: 4
com.sun.midp.io.http.force_non_persistent: false
