# Properties visible from System.getProperty()
microedition.configuration: CLDC-1.0
microedition.profiles: MIDP-1.0
microedition.locale:  en_US
microedition.platform: j2me
# microedition.encoding: ISO8859_1
#
# I18N aliases for common character encodings
SHIFT_JIS_InternalEncodingName: SJIS
X_SJIS_InternalEncodingName: SJIS
#
# CLDC implementation parameters
# java.lang.Character.caseConverter: com.sun.cldc.i18n.uclc.DefaultCaseConverter
# com.sun.cldc.io.j2me.comm.buffersize: 256
# com.sun.cldc.i18n.Helper.i18npath: com.sun.cldc.i18n.j2me
# microedition.implpath: com.sun.cldc
# javax.microedition.io.Connector.protocolpath: com.sun.cldc.io
# com.sun.cldc.io.j2me.socket.buffersize: 256
# com.sun.cldc.util.j2me.TimeZoneImpl.timezone: UTC
